# Object files
*.o
*.ko
*.obj
*.elf
main

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Emacs files
*~
*#

# LatexFiles
*.aux
*.gz
*.aux
*.bbl
*.blg
*.log


# Eclipse/Nsight/IDEA
.project
.cproject
.settings/
*.ptp-sync-folder
.ptp-sync/
*.iml
.idea/

# Generated data
/data

# Python generated
*.pyc