# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Emacs files
*~
*#

# LatexFiles
*.aux
*.gz
*.aux
*.bbl
*.blg
*.log

# Eclipse/Nsight
.project
.cproject
.settings/
c_code/data/.ptp-sync-folder
.ptp-sync/